
<%= @cocktail.name %>
<ul class="list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %></li>
    <li><%= dose.ingredient.name %></li>
    <%= link_to cocktail_dose_path(@cocktail, dose),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this?" } do  %>
            <%= "Delete this dose" %>
    <% end %>
  <% end %>
</ul>

<br>

<p>Add a dose to this cocktail</p>

<div class="container">
  <div class="row">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <!--Needs [] when you have 2 arguements-->
      <div class="col-md-6 col-md-offset-3">
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <!-- association allows for a drop down list-->
        <%= f.submit %>
      </div>
    <% end %>
    <br>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>



